.faq-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.faq-item {
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}

.faq-question {
  cursor: pointer;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.faq-answer {
  margin-top: 10px;
  padding-left: 10px;
  color: #555;
}

.faq-answers {
  display: flex;
  flex-direction: column;
  gap: 10px;

  label {
    display: flex;
    align-items: center;
    gap: 5px;
  }
}

/* Checkbox design */

.custom-checkbox {
  display: inline-block;
  position: relative;
  padding-left: 20px;
  cursor: pointer;
  user-select: none;
}

.custom-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 12px;
  width: 12px;
  background-color: white;
  border: 1px solid #d1d1d1;
  border-radius: 3px;
  margin-top: 8px;
}

.custom-checkbox input:checked ~ .checkmark:after {
  content: "✖"; /* Unicode for the cross mark */
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #6f6f6f; /* Cross color */
  font-size: 10px;
  font-weight: 700;
}

.custom-checkbox .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.custom-checkbox input:checked ~ .checkmark {
  background-color: white; /* Change background color if needed */
}

.custom-checkbox input:checked ~ .checkmark:after {
  display: block;
}

.skiptranslate {
  display: none !important;
}
